* {
    box-sizing: border-box;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ff6347;
    transform: translate(200px, 100px) rotate(45deg) scale(1.5);
}

p {
    margin: 0 32px;
    padding: 8px;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 4px;
}