            * {
                box-sizing: border-box;
            }
            
            .dropdown {
                padding: 16px;
                background-color: darkgreen;
                opacity: 0.8;
                font-size: 16px;
                color: white;
                display: inline-block;
                cursor: pointer;
                margin: 16px;
                position: relative;
            }
            
            .menu-button {}
            
            .dropdown:hover {
                background-color: darkgreen;
                opacity: 1.0;
            }
            
            .dropdown:hover .menu-list {
                display: block;
            }
            
            .menu-list {
                position: absolute;
                display: none;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: lightcyan;
                color: black;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
                min-width: 120px;
                z-index: 1;
                top: 50px;
                left: 0;
            }
            
            .menu-item {
                padding: 16px;
            }
            
            .menu-list:hover .menu-item {
                background-color: ghostwhite;
            }