    * {
        box-sizing: border-box;
    }
    
    html {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #555;
        font-size: 16px;
    }
    
    .header {
        text-align: center;
        color: #ffffff;
        background-image: linear-gradient(60deg, red, orange);
        margin: 0;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: #e5e5e5;
        padding: 0.5em;
    }
    
    .main {
        height: auto;
        flex-grow: 1;
        display: flex;
        margin: 0;
    }
    
    .navigation {
        width: 20%;
        padding: 0.5em;
    }
    
    .section {
        width: 60%;
        font-size: 1.25em;
        padding: 0.5em;
    }
    
    .news {
        padding: 0.5em;
        width: 20%;
    }
    
    .css-units {
        color: #8b0000;
        background-color: #e5e5e5;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1.75em;
    }
    
    .section__header {
        font-size: 5vw;
        /*text-align: center;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-list {
        padding: 0;
        list-style-type: none;
    }
    
    .nav-list-link {
        color: #ffffff;
        text-decoration: none;
    }
    
    .nav-list-item {
        padding: 0 0.5em;
        display: block;
        background-color: #808080;
        color: #ffffff;
        line-height: 2em;
        margin-bottom: 0.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }