    .header {
        height: 3em;
        background-color: #006400;
    }
    
    .menu {
        display: flex;
        padding-left: 3em;
        margin: 0;
        list-style-type: none;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        height: 3em;
        &__item {
            padding: 0 8px;
            line-height: 3em;
        }
        .menu__item_active {
            color: #ffff00;
        }
        &:hover {
            background-color: #9acd32;
            .submenu {
                visibility: visible;
            }
        }
    }
    
    .submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        margin: 0;
        padding: 0;
        background-color: #ff7f50;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        min-width: 120px;
        z-index: 1;
        list-style-type: none;
        &__item {
            padding: 0 8px;
            &:hover {
                color: #000000;
            }
        }
    }