@import 'variables.scss';
.header {
    background-color: $color-grey;
}

.nav-list {
    padding: 0;
    margin: 0;
    height: $unit * 7;
    display: flex;
    list-style-type: none;
    align-items: center;
    color: $text-color-secondary;
    font-weight: 700;
    &__item {
        background-color: $color-secondary;
        padding: $unit;
        margin-left: $unit;
        border-radius: $border-radius;
        cursor: pointer;
        &_selected {
            background-color: $color-primary;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}