* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

.font-in-px {
    font-size: 27px;
}

.font-in-em {
    font-size: 1.5em;
}

.font-in-vw {
    font-size: 5vw;
}

.font-in-percents {
    font-size: 150%;
}

.font-in-rem {
    font-size: 1.5rem;
}