* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100vh;
}

.thumb {
    flex-shrink: 0;
    margin: 8px;
    /*min-width: 100vh;*/
}

.gallery:hover {
    cursor: all-scroll;
}

<!-- Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте styles.css Картинки должны располагаться по горизонтали в одну линию. Если картинки не помещаются по ширине,
то должен появиться только горизонтальный скролл. Пока картинки помещаются по ширине на экран,
скролла быть не должно Каждой картинке дайте внешний отступ 8px На всей странице скролла быть не должно Курсор мышки при наведении на галерею должен быть all-scroll -->