/* {
    box-sizing: border-box;
}*/

.gallery>.thumb {
    display: flex;
    min-width: 100vh;
    flex-wrap: nowrap;
}

.thumb {
    flex-shrink: 0;
    margin: 8px;
    overflow-x: auto;
    /*min-width: 100vh;*/
}

.gallery:hover {
    cursor: all-scroll;
}