* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto
}

.thumb {
    flex-shrink: 0;
    margin: 8px;
    ;
}

.gallery:hover {
    cursor: all-scroll;
}