$sm: 600px;
$md: 900px;
$lg: 1200px;
@mixin for-extra-small {
    @media screen and (max-width: $sm-1) {
        @content;
    }
}

@mixin for-extra-small {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin for-medium-up {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin for-large-up {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin for-landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}