* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}

.article-list {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}


/*Тренируемся использовать flexbox
Готовый HTML находится в файле редакторе ниже. 
Его редактировать не нужно. Для добавления стилей используй styles.css

Основные требования:
Настрой страницу так, чтобы ширина элементов рассчитывалась по рамке
Выровняй текст в хедере горизонтально по центру.
Задай всем элементам .article внешние отступы 8px и внутренние 16px.
 Цвет фона - bisque. .article должен остаться блочным элементом
  (ему display: flex; не нужен)
При изменении ширины экрана статьи могут растягиваться 
по ширине, но не должны сжиматься меньше 300px. элементы, 
что не помещаются в текущую строку должны переноситься на следующую.