    * {
        font-size: 18px;
    }
    
    .properties-list {
        color: #f39;
        font-size: 24px;
        list-style-type: none;
    }
    
    .properties-list__item {
        padding: 8px;
        line-height: 32px;
    }