li {
    margin-bottom: 16px;
}

li:first-child>span {
    background-color: red;
    color: white;
}

li:last-child>span {
    background-color: black;
    color: white;
}

li:nth-child(even)>span {
    margin-left: 16px;
}

.paragraphs>p:nth-of-type(2n+1) {
    background-color: grey;
}