.header,
.navigation>ul {
    box-sizing: border-box;
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 2;
    margin: 0;
}

.nav-list>li {
    line-height: 40px;
    color: white;
    list-style: none;
    float: left;
    margin-left: 16px;
}

.content {
    background-color: beige;
    height: 5000px;
}

.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    z-index: 1;
}

.ear {
    height: 60px;
    width: 40px;
    background-color: brown;
    position: absolute;
    margin: -100px 0 0 -100px;
}

.ear_right {
    position: absolute;
    top: 40px;
    right: -40px;
}

.ear_left {
    position: absolute;
    top: 40px;
    left: 60px;
}

.eye {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: grey;
    float: left;
}

.eye_right {
    position: absolute;
    top: 80px;
    right: 40px;
}

.eye_left {
    position: absolute;
    top: 80px;
    left: 40px;
}