body {
    display: flex;
    flex-wrap: nowrap;
}

.block {
    min-height: 300px;
    width: 100px;
    flex-shrink: 0;
    flex-grow: 1;
}

.block_red {
    background-color: red;
}

.block_green {
    background-color: green;
}

.block_blue {
    background-color: blue;
}

.block_yellow {
    background-color: yellow;
}

.block_black {
    background-color: black;
}