    * {
        box-sizing: border-box;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    
    .image {
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: repeat;
    }