* {
    box-sizing: border-box;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 500px;
    margin: 16px;
}

th,
td {
    padding: 4px;
    text-align: right;
}