    * {
        box-sizing: border-box;
    }
    
    .custom_button {
        margin: 64px;
        width: 200px;
        height: 50px;
        align-content: center;
        background-color: coral;
        color: white;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 700;
        border: none;
        cursor: pointer;
        line-height: 50px;
    }
    
    .custom_button:hover {
        color: darkcyan;
    }
    
    .custom_button:hover>.bird-icon {
        fill: green;
    }
    
    .bird-icon {
        width: 32px;
        height: 32px;
        fill: white;
        vertical-align: middle;
    }