    * {
        box-sizing: border-box;
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .spinner {
        position: relative;
    }
    
    .spinner-text {
        font-family: monospace;
        font-size: 16px;
        animation: blinking 2s;
        animation-iteration-count: infinite;
    }
    
    .rect {
        position: absolute;
        width: 10px;
        height: 4px;
        border-radius: 2px;
        background-color: black;
        animation: moving 2s, blinking 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes moving {
        from {
            left: 0;
            opacity: 1;
        }
        to {
            left: 70px;
        }
    }
    
    @keyframes blinking {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }