* {
    box-sizing: border-box;
}

td,
th {
    height: 50px;
    width: 50px;
}

table {
    margin: 16px;
    text-align: center;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr:nth-child(even) td:nth-child(odd) {
    background: black;
}

table tr:nth-child(odd) td:nth-child(even) {
    background: black;
}

.line {
    background: white !important;
    border: white;
}