* {
    box-sizing: border-box;
}

div>div {
    border: 1px dotted grey;
    margin: 16px;
    display: inline-block;
}

.image {
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/*.gallery {
   display: flex;
}*/